<ns-action-bar-container></ns-action-bar-container>

<account-frame
  title="Error Reporting"
  submitText="Save"
  (onSubmit)="submit.emit()"
>
  <Label
    class="text-label m-b-10"
    text="For your safety and privacy, Passit has no in-app tracking by default. However, the Passit developers benefit from receiving error reports, which requires this sort of&nbsp;tracking."
    textWrap="true"
  ></Label>

  <Label
    class="text-label m-b-20"
    text="If you are willing to opt in to share anonymous information, please do! It will help make Passit better for&nbsp;everyone."
    textWrap="true"
  ></Label>

  <app-checkbox
    title="Enable error reporting"
    [control]="form.controls.optInErrorReporting"
  ></app-checkbox>

  <progress-indicator
    [inProgress]="hasStarted"
    inProgressText="Saving"
    [completed]="hasFinished"
    completedText="Saved"
  ></progress-indicator>
</account-frame>
