<ul>
  <li *ngFor="let listItem of listItems" [class.pending]="listItem.isPending">
    <div class="name">
      {{ listItem.name }}
    </div>

    <div class="info-and-action">
      <app-badge
        *ngIf="listItem.isPending"
        text="Pending"
        color="buttermilk"
      ></app-badge>

      <button
        *ngIf="listItems.length !== 1 || singleItemIsRemovable === true"
        class="u-button-unstyled"
        type="button"
        (click)="onRemoveListItem(listItem)"
      >
        <svg>
          <use xlink:href="#icon-trash"></use>
        </svg>
      </button>
    </div>
  </li>
</ul>
